header {
    background: linear-gradient(.25turn,  #465AB8, #261360);
    color : White;
}


.five-day-card {
    background-color: #465AB8;
    padding: 5px;
    margin-bottom: 5px;
}
.five-day-card h2 {
    font-size: large;
    font-weight: bold;
}